// +build ROUTE

package routes

import (
	"context"
	"fmt"

	ROUTE "diplomacy-api/pkg/routes/ROUTE"

	"github.com/aws/aws-lambda-go/events"
)

func Handler(ctx context.Context, req events.APIGatewayProxyRequest) (events.APIGatewayProxyResponse, error) {
	switch req.HTTPMethod {
	case "GET":
		return ROUTE.GetROUTEUPPER(ctx, req)
	case "POST":
		return ROUTE.PostROUTEUPPER(ctx, req)
	case "PUT":
		return ROUTE.PutROUTEUPPER(ctx, req)
	case "DELETE":
		return ROUTE.DeleteROUTEUPPER(ctx, req)
	default:
		return events.APIGatewayProxyResponse{StatusCode: 500}, fmt.Errorf("Unhandled method - %v", req.HTTPMethod)
	}
}
